<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Ideasa_IdeCheckoutvm>
            <version>1.7.0</version>
        </Ideasa_IdeCheckoutvm>
    </modules>
    
    <admin>
        <fieldsets>
            <customer_dataflow>
                <mobile>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </mobile>
            </customer_dataflow>
        </fieldsets>
        <routers>
            <idecheckoutvm>
                <use>admin</use>
                <args>
                    <module>Ideasa_IdeCheckoutvm</module>
                    <frontName>idecheckoutvm</frontName>
                </args>
            </idecheckoutvm>
        </routers>
    </admin>
    
    <global>
        <resources>
            <idecheckoutvm_setup>
                <setup>
                    <module>Ideasa_IdeCheckoutvm</module>
                    <class>Ideasa_IdeCheckoutvm_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </idecheckoutvm_setup>
        </resources>

        <fieldsets>
            <sales_convert_quote_address>
                <mobile>
                    <to_order_address>*</to_order_address>
                </mobile>
            </sales_convert_quote_address>
            
            <customer_account>
                <tipo_pessoa>
                    <to_quote>customer_tipo_pessoa</to_quote>
                </tipo_pessoa>
                <rg>
                    <to_quote>customer_rg</to_quote>
                </rg>
                <razao_social>
                    <to_quote>customer_razao_social</to_quote>
                </razao_social>
                <nome_fantasia>
                    <to_quote>customer_nome_fantasia</to_quote>
                </nome_fantasia>
                <insc_est>
                    <to_quote>customer_insc_est</to_quote>
                </insc_est>
            </customer_account>
            
            <checkout_onepage_quote>
                <customer_tipo_pessoa>
                    <to_customer>tipo_pessoa</to_customer>
                </customer_tipo_pessoa>
                <customer_rg>
                    <to_customer>rg</to_customer>
                </customer_rg>
                <customer_razao_social>
                    <to_customer>razao_social</to_customer>
                </customer_razao_social>
                <customer_nome_fantasia>
                    <to_customer>nome_fantasia</to_customer>
                </customer_nome_fantasia>
                <customer_insc_est>
                    <to_customer>insc_est</to_customer>
                </customer_insc_est>
            </checkout_onepage_quote>
            
            <sales_convert_quote>
                <customer_tipo_pessoa>
                    <to_order>customer_tipo_pessoa</to_order>
                </customer_tipo_pessoa>
                <customer_rg>
                    <to_order>customer_rg</to_order>
                </customer_rg>
                <customer_razao_social>
                    <to_order>customer_razao_social</to_order>
                </customer_razao_social>
                <customer_nome_fantasia>
                    <to_order>customer_nome_fantasia</to_order>
                </customer_nome_fantasia>
                <customer_insc_est>
                    <to_order>customer_insc_est</to_order>
                </customer_insc_est>
            </sales_convert_quote>
        </fieldsets>
        
        <models>
            <idecheckoutvm>
                <class>Ideasa_IdeCheckoutvm_Model</class>
                <resourceModel>idecheckoutvm_resource</resourceModel>
            </idecheckoutvm>
            <idecheckoutvm_resource>
                <class>Ideasa_IdeCheckoutvm_Model_Resource</class>
            </idecheckoutvm_resource>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <links>Ideasa_IdeCheckoutvm_Block_Links</links>
                </rewrite>
            </checkout>
            <idecheckoutvm>
                <class>Ideasa_IdeCheckoutvm_Block</class>
            </idecheckoutvm>
        </blocks>
        <helpers>
            <checkout>
                <rewrite>
                    <url>Ideasa_IdeCheckoutvm_Helper_Url</url>
                </rewrite>
            </checkout>
            <idecheckoutvm>
                <class>Ideasa_IdeCheckoutvm_Helper</class>
            </idecheckoutvm>
        </helpers>
        <rewrite>
            <idecheckoutvm_index>
                <from><![CDATA[#^/checkout/onepage/success/#]]></from>
                <to>/idecheckoutvm/index/success/</to>
            </idecheckoutvm_index>
        </rewrite>
    </global>

    <frontend>
        <secure_url>
            <idecheckoutvm>/idecheckoutvm/</idecheckoutvm>
        </secure_url>
        
        <routers>
            <idecheckoutvm>
                <use>standard</use>
                <args>
                    <module>Ideasa_IdeCheckoutvm</module>
                    <frontName>idecheckoutvm</frontName>
                </args>
            </idecheckoutvm>
        </routers>
        <translate>
            <modules>
                <Ideasa_IdeCheckoutvm>
                    <files>
                        <default>Ideasa_IdeCheckoutvm.csv</default>
                    </files>
                </Ideasa_IdeCheckoutvm>
            </modules>
        </translate>
        <layout>
            <updates>
                <idecheckoutvm>
                    <file>ideasa/idecheckoutvm.xml</file>
                </idecheckoutvm>
            </updates>
        </layout>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <Ideasa_IdeCheckoutvm_Model_Observers>
                        <type>model</type>
                        <class>Ideasa_IdeCheckoutvm_Model_Observers_OnepageDefaults</class>
                        <method>defaultValues</method>
                    </Ideasa_IdeCheckoutvm_Model_Observers>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <idecheckoutvm>
                        <type>model</type>
                        <class>idecheckoutvm/observer</class>
                        <method>removeHistoryComment</method>
                    </idecheckoutvm>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <idecheckoutvm>
                        <type>model</type>
                        <class>idecheckoutvm/observer</class>
                        <method>addHistoryComment</method>
                    </idecheckoutvm>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Ideasa_IdeCheckoutvm>
                    <files>
                        <default>Ideasa_IdeCheckoutvm.csv</default>
                    </files>
                </Ideasa_IdeCheckoutvm>
            </modules>
        </translate>
        <layout>
            <updates>
                <idecheckoutvm>
                    <file>ideasa/idecheckoutvm.xml</file>
                </idecheckoutvm>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <idecheckoutvm translate="title" module="idecheckoutvm">
                                            <title>Checkout Venda Mais</title>
                                        </idecheckoutvm>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <idecheckoutvm>
            <geral>
                <active>0</active>
                <title>Finalize sua compra!</title>
                <shipping_method></shipping_method>
                <payment_method></payment_method>
                <country>BR</country>
                <inline_validation>1</inline_validation>
                <login_link>1</login_link>
                <newsletter_link>1</newsletter_link>
                <coupon>0</coupon>
                <show_ssl>1</show_ssl>
                <show_google_safe>1</show_google_safe>
                <custom_css>0</custom_css>
            </geral>
            <fields>
                <tipo_pessoa>1</tipo_pessoa>
                <rg>opt</rg>
                <insc_est>opt</insc_est>
                <razao_social>req</razao_social>
                <nome_fantasia>req</nome_fantasia>
                <mobile>req</mobile>
                <address_1>req</address_1>
                <address_2>req</address_2>
                <address_3>opt</address_3>
                <address_4>req</address_4>
                <city>req</city>
                <country></country>
                <zip>req</zip>
                <state>req</state>
                <phone>req</phone>
                <fax></fax>
                <company></company>
            </fields>
            <ordering_fields>
                <email>1</email>
                <prefix>2</prefix>
                <firstname>3</firstname>
                <middlename>4</middlename>
                <lastname>5</lastname>
                <suffix>6</suffix>
                <tipo_pessoa>7</tipo_pessoa>
                <rg>8</rg>
                <insc_est>9</insc_est>
                <taxvat>10</taxvat>
                <dob>11</dob>
                <gender>12</gender>
                <razao_social>13</razao_social>
                <nome_fantasia>14</nome_fantasia>
                <mobile>15</mobile>
                <telephone>16</telephone>
                <fax>17</fax>
                <postcode>18</postcode>
                <street1>19</street1>
                <street2>20</street2>
                <street3>21</street3>
                <street4>22</street4>
                <city>23</city>
                <country>24</country>
                <region>25</region>
                <company>26</company>
            </ordering_fields>
            <agreements>
                <enabled>0</enabled>
                <output>lightbox</output>
            </agreements>
            <registration>
                <mode>allow_guest</mode>
            </registration>
            <minimum_itens>
                <itens>0</itens>
                <message>Você precisa inserir %d itens no carrinho para finalizar esta compra.</message>
            </minimum_itens>
            <url>
                <success-page>checkout/onepage/success</success-page>
                <busca-cep>http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuLogradouro</busca-cep>
            </url>
        </idecheckoutvm>
    </default>
</config>