<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Ideasa_IdeAddons>
            <version>1.2.0</version>
        </Ideasa_IdeAddons>
    </modules>

    <global>
        <resources>
            <ideaddons_setup>
                <setup>
                    <module>Ideasa_IdeAddons</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ideaddons_setup>
        </resources>
        <models>
            <ideaddons>
                <class>Ideasa_IdeAddons_Model</class>
                <resourceModel>ideaddons_resource</resourceModel>
            </ideaddons>
            <ideaddons_resource>
                <class>Ideasa_IdeAddons_Model_Resource</class>
            </ideaddons_resource>
        </models>
        <blocks>
            <ideaddons>
                <class>Ideasa_IdeAddons_Block</class>
            </ideaddons>
        </blocks>
        <helpers>
            <ideaddons>
                <class>Ideasa_IdeAddons_Helper</class>
            </ideaddons>
        </helpers>
    </global>

    <frontend>
        <secure_url>
            <ideaddons>/ideaddons/</ideaddons>
        </secure_url>
        
        <routers>
            <ideaddons>
                <use>standard</use>
                <args>
                    <module>Ideasa_IdeAddons</module>
                    <frontName>ideaddons</frontName>
                </args>
            </ideaddons>
        </routers>
        <translate>
            <modules>
                <Ideasa_IdeAddons>
                    <files>
                        <default>Ideasa_IdeAddons.csv</default>
                    </files>
                </Ideasa_IdeAddons>
            </modules>
        </translate>
        <layout>
            <updates>
                <ideaddons>
                    <file>ideasa/ideaddons.xml</file>
                </ideaddons>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Ideasa_IdeAddons>
                    <files>
                        <default>Ideasa_IdeAddons.csv</default>
                    </files>
                </Ideasa_IdeAddons>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ideaddons translate="title" module="ideaddons">
                                            <title>Checkout Venda Mais</title>
                                        </ideaddons>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 
    </adminhtml>

    <default>
        <ideaddons>
            <cep>
                <autocomplete>1</autocomplete>
                <show_link>1</show_link>
            </cep>
            <url>
                <toolsweb>http://www.toolsweb.com.br/webservice/clienteWebService.php?</toolsweb>
            </url>
        </ideaddons>
    </default>
    <admin>
        <routers>
            <ideaddons>
                <use>admin</use>            
                <args>
                    <module>Ideasa_IdeAddons</module>
                    <frontName>ideaddons</frontName>
                </args>
            </ideaddons>
        </routers>
    </admin>
</config>